::-ms-clear, ::-ms-reveal{display: none;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,form,textarea,p,th,td,hr,button{
    margin:0;
    padding:0;
    border: none;
    box-sizing: border-box;
    outline: none;
}
table{
    border-collapse:collapse;
    border-spacing:0
}
audio,canvas,video{
    display:inline-block;
    *display:inline;
    *zoom:1
}
img{
    vertical-align: middle;
    display: inline-block;
}
ol,ul li{
    list-style-type:none;
    list-style: none;
}
button,a{
    cursor: pointer;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
      font-family: "microsoft yahei"; /* 1 */
      font-size: 100%; /* 1 */
      line-height: 1.15; /* 1 */
      margin: 0; /* 2 */
  }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0;
  }
a{
    text-decoration:none;
    cursor: pointer;
}
a:hover{
    text-decoration:underline;
}
body,html{
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    color: #333;
}
.clear:after{
    content:'';
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
.clear{
    zoom:1;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
*:clearFix:before,
*:clearFix:after{
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.container{
  width: 1180px;
  margin: 0 auto;
}